*{
	font-family: Fjalla One;
  	margin: 0;
	border: 0;
	padding: 0;
	color: white;
}

.mainhd{
	color: white;
	text-align: center;
	font-family: 'Hind Siliguri', sans-serif;
}

body{
}
.group{
	padding-top: 1.5em;
	margin-left: 7%;
	margin-top: 5%;
	color: #333;
	font-size: 2em;
}


.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
	width: 90%;

}

.ptable{


}
.nm{
	padding-left: 0;
	padding-right: 0;
}

.containeer{
	background-color: white;
	padding-bottom: 1.5em;
	max-width: 80%;
	margin: auto;
}

th, td {
    padding: 0.5em;
  	text-align: left;
  	font-size: 1.2em;
  	font-weight: lighter;
}

td{
	border: solid #D0D0D0;
  	border-width: 1px 0;


}

th{

	color: #333;
}

.headin{
	text-align: left;
	text-decoration: none;
	/*color: #00004B;*/
	color: white;
	margin: 2.5em auto;
	display: block;
	padding-top: 1.5em;
	padding-left: 13%;
	font-family: 'Nanum Gothic', sans-serif;

}

.wpos{
	text-align: center;
}

.wpos td{
	color: #333;
}

.pos{
	text-align: center;
}

.pos td{
	color: #333;
}

table .col{
	border-bottom: 1px solid #FFFFFF;
}

.wpos:hover{
	background-color: #fc00ff;
}

.wpos:hover td{
	color: white;
}

.pos:hover{
	background-color: #30316E;
}

.pos:hover td{
	color: #000000;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {

}

li a {
  display: block;
  color: white;
  text-align: right;
  margin: auto;
  padding-right: 20px;
  padding-top: 6px;
  font-size: 1.1em;
  float: right; 
  font-family: 'PT Sans Narrow', sans-serif;
 }
 .pic{
	width: 80px;
	float: left;
	padding-left: 20px;
}

.pt{
	font-weight: bold;
	font-size: 1.1em;
}

.active {

}

